:root
    --background-default #ffffff
    --text-emphassis rgba(0,0,0,.85)
    --text-normal rgba(0,0,0,.6)
    --text-disabled rgba(0,0,0,.33)
img 
    width: 100px
    height: 100px

img:hover
    width: 200px

